@font-face {
  font-family: Avenir, sans-serif;
  src: url(fonts/AvenirLTStd-Roman.otf);
}

.App {
  padding: 100px 100px 40px 100px;
  margin: 80px;
  text-align: left;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12)
}

h1 {
  color: #2E282C;
  font-family: Avenir, sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 66px;
}

.loading {
  font-family: Avenir, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 66px;
  color: #000;
}

@media (max-device-width: 620px) {
  .App {
    margin: 0px;
    padding: 50px;
    border-radius: 0px;
  }
}

@media (max-device-width: 440px) {
  .h1 {
    font-size: 24px;
  }
}

