@font-face {
    font-family: Avenir, sans-serif;
    src: url(fonts/AvenirLTStd-Roman.otf);
}

.event-list {
    display: flex;
    margin-top: 42px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.no-events {
    font-family: Avenir, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 66px;
    color: #000;
}

@media (max-device-width: 810px) {
    .event-list {
        margin-top: 20px;
    }
}

