@font-face {
    font-family: Avenir, sans-serif;
    src: url(fonts/AvenirLTStd-Roman.otf);
}

.container img {
    position: relative;
}

.event-card {
    position: relative;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    width: calc(1/2*100% - (1 - 1/2)*40px);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

.event-card__date-border {
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 6px;
    position: absolute;
    top: 40px;
    left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-card__date {
    color: #fff;
    font-family: Avenir, sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 66px;
}

.event-card__favorite {
    content: url('./imgs/fav-unpressed.svg');
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 40px;
}

.active {
    content: url('./imgs/fav-pressed.png');
}

.event-card__name {
    font-family: Avenir, sans-serif;
    font-size: 48px;
    color: #fff;
    font-weight: 900;
    line-height: 66px;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

@media (max-device-width: 1300px) {
    .event-card {
        width: 100%;
    }
}

@media (max-device-width: 750px) {
    .event-card__name {
        font-size: 32px;
    }
    .event-card__date-border {
        width: 60px;
        height: 60px;
    }
    .event-card__date {
        font-size: 32px;
    }
}

@media (max-device-width: 660px) {
    .event-card {
        height: 250px;
    }
}

@media (max-device-width: 620px) {
    .event-card__name {
        font-size: 24px;
    }
    .event-card__date-border {
        width: 40px;
        height: 40px;
    }
    .event-card__date {
        font-size: 24px;
    }
}